

.cart-button{
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border-radius: 50px;
}

.cart-not-made > h1{
  margin: 0;
  padding: 10px;
  color: white;
}

.cart-button > a {
  font-size: 16px;
  text-decoration: none;
  color: inherit;
}

.product-cartContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
}

.product-cartContainer > h2 {
  color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 550px;
  width: 100%;
  overflow: hidden;
  background-color: white;
}

.empty-cart{
  background-color: white;
}

.processing-cart > h2{
  color: white;
}

.purchase{
  height: 100vh;
  width: 100vw;
  /* position: absolute;
  transform: translate(50%,50%); */
}

.purchase-ticket {
  width: 700px;
  height: 500px;
  padding: 20px;
  margin: 50px auto;
  background-color: white;
}

.purchase-ticket > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.purchase-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 50px auto;
  background-color: white;
}

.purchase-error > ul {
  text-align: start;
  text-transform: capitalize;
}