.item-detail{
    width: 700px;
    padding: 15px;
    background-color: rgb(247, 255, 136);
    border: solid 1px black;
}

.item-detail > *{
    text-transform:capitalize;
}

.item-detail > div:nth-child(2){
    display:flex;
    flex-direction: column;
    align-items: center;
}

.item-detail > div > img{
    margin-bottom: 10px;
    
}

.detail-info{
    margin-top: 0px;
    margin-bottom: 10px;
    margin-left: 10px;
    align-self: flex-start;
    font-weight: 500;
}

.detail-description{
    text-transform: initial;
    align-self: center;
    font-size: 18px;
}