.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 80px;
    width: 100%;
}

.logo{
    margin: 10px 30px;
    text-transform: uppercase;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu > p {
    margin: 10px;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 18px;
}
