  .buyer-form {
    display:flex;
    flex-direction: column;
    align-items: center;
    width:60%;
    transition: 0.5s ease-in;
  }

  .form-disabled > .form-fields *{
    opacity: 0.7;
    pointer-events:none;
    transition: 0.3s ease-in;
  }

  .buyer-form > button{
    padding: 5px 10px;
    border-radius: 50px;
  }  
  
  .form-fields{
    display:grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    width:100%;
    margin-bottom: 30px;
  }
  
  .form-fields > div > input{
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }

  .phone-numb  span  {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }
  .phone-numb span input {
    width: 45px;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
  }

  .submit-button{
    margin: 10px;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 50px;
  }